.browse{
    padding: 20px 0;
    background-color: #fff;
}

.nav-links{
    text-align: right!important;
    padding-top: 20px;
}

.nav-link-holder a,
.nav-link-holder a:hover,
.nav-link-holder a:visited,
.nav-link-holder a:active{
    text-decoration: none!important;
    color: #15171c!important;
    font-weight: 600;
}

.tracks-placeholder{
    padding: 42px 0;
}

.track-placeholder{
    padding: 24px 0 36px;
    margin-bottom: 8px;
    border-bottom: 2px solid #6FA0FF;
}

.track-placeholder-icon{
    font-size: 25px;
}

audio{
    display: none;
}

.track-player-ruler{
    position: absolute;
    width: 80%;
    height: 2px;
    background: #9c9c9c;
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.track-player-cursor{
    position: absolute;
    width: 12px;
    height: 12px;
    background: #6FA0FF;
    transform: translate(0, -50%);
    border-radius: 100%;
    top: 50%;
    left: 0%;
}

.track-player-currenttime-placeholder{
    position: absolute;
    left: 0%;
    top: 12px;
    font-size: 18px;
}

.track-player-trackname-placeholder{
    position: absolute;
    left: 50%;
    top: 12px;
    font-size: 18px;
    transform: translate(-50%, 0);
}

.track-player-duration-placeholder{
    position: absolute;
    right: 0;
    top: 12px;
    font-size: 18px;
}

.right-wrapper{
    text-align: right;
}