
.form-section{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.48);
    padding: 120px 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

#soundflow-intro-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.form-placeholder{
    padding: 32px 42px;
    background: rgba(255, 255, 255, 0.64);
    border-radius: 9px;
}

.auth-groups{
    padding-top: 10px;
    padding-left: 12px;
    padding-bottom: 9px;
    background-color: rgba(111, 160, 255, 0.12);
    color: #000!important;
}

.auth-groups label{
    font-weight: 600;
    font-size: 15px;
}

.auth-groups input{
    border: none!important;
    outline: none!important;
    background: transparent!important;
    font-size: 18px!important;
    box-shadow: none!important;
    padding: 0!important;
    line-height: 0!important;
    color: #000!important;
    font-weight: 300!important;
    margin-top: 0!important;
}

.auth-bttn, .auth-bttn:hover, .auth-bttn:active, .auth-bttn:visited, .auth-bttn:focus{
    outline: none!important;
    border: none!important;
    box-shadow: none!important;
    background: #6FA0FF;
    padding: 8px 54px;
    border-radius: 42px;
    font-weight: 300;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}